
h1{
    font-size: 1.8em;
    margin-bottom: 10px;
}
h2{
    font-size: 1.3em;
    margin-top: 8px;
    margin-bottom: 5px;
}

select{
    padding: 3px;
    height: 25px;
}

table{
    width: 500px;
    margin: 0 auto;
}

th{
    text-align: left;
}

td{
    height: 40px;
}

div.main{
    width: 620px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px 10px;
}

div.page-title{
    text-align: center;
}


h1.page-title{

}

/*入力欄*/
div.input-area{
    background-color: #f3f3f3;
    padding: 15px 60px;
}

/*品目入力エリア*/
div.name-area{
    margin-bottom: 5px;
}
/*品名入力欄*/
input.name{
    padding:5px;
    width: 82%;
}


div.select-area{
    margin: 15px 0;
}

/*カテゴリ選択エリア*/
select.category-select-box{
   margin-right: 70px;
}


div.add-button-area{
    text-align: center;
}

button.add-button {
    width: 130px;
    height: 30px;
    background-color: #4FDFFF;
    border: #4FDFFF solid 1px;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 3px;
}

/*ボタンをクリックしたときは明るくする*/
button.add-button:hover,
button.edit-button:hover,
button.delete-button:hover
{
    opacity: 0.6;
    filter: brightness(105%);
}

/*絞込み*/
div.refinement-area{
    float: right;
    margin: 15px 50px 0 0;
}

select.refinement-select{
    height: 25px;
    padding: 3px;
}

button.check-button{
    border: none;
    padding: 0;
    background-color: transparent;
    width: 10px;
    height:10px;
}

/*ボタンをクリックしたときは明るくする*/
button.check-button:active{
    opacity: 0.6;
    filter: brightness(110%);
}

/*編集ボタン*/
button.edit-button{
    width: 50px;
    height: 30px;
    background-color: #ffffff;
    border: #c7c7c7 solid 2px;
    color: #5d5d5d;
    font-size: 0.8em;
    border-radius: 3px;
}

/*削除ボタン*/
button.delete-button{
    width: 50px;
    height: 30px;
    background-color: #ff3939;
    border: #ff3939 solid 1px;
    color: #ffffff;
    font-size: 0.8em;
    border-radius: 3px;
}




h2.table-title{
    margin: 15px 40px 5px 40px;
    padding-bottom: 3px;
    width: auto;
    border-bottom: solid black 1px;
}

td.check{
    width: 6%
}

td.name{
    width: 40.8%
}

td.category{
    width: 16.6%
}

td.place{
    width: 16.6%
}

td.edit{
    width: 10%
}

td.delete{
    width: 10%
}

p.item-none{
    text-align: center;
}
